[Desktop Entry]
Type=Link
Name=Cool Retro Term
Icon=/home/user/cool-retro-term/app/icons/64x64/cool-retro-term.png
URL=/home/user/.local/share/applications/crt.desktop
